 @{ 
  Layout = "_Layout";
}
<h1>Pierre's Sweet and Savory Treats</h1>


<p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("See all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See a list of flavors and treats", "SeeAll", "Home")</p>
<p>@Html.ActionLink("Create Account", "Index", "Account")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>